@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kaushan+Script&family=Oswald:wght@600&family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kaushan+Script&family=Monoton&family=Oswald:wght@600&family=Playfair+Display:ital@1&display=swap');
* {
    padding: 0;
    margin: 0;
}
body {
    display: grid;
    grid-template-areas: "header header header"
                        "main main main"
                        "main main main"
                        "main main main"
                        "main main main"
                        "footer footer footer";
    min-height: 100vh;
}
header {
    grid-area: header;
    background-color: white;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-family: sans-serif;
   
}


.logo {
    display: flex;
    align-items: center;
}
.logo img{
    height: 100px;
    margin-right: 20px;
}
.nombre-empresa {
    display: flex;
    align-items: center;
    font-family: "monoton", cursive;
    color: green;
    
}
nav a{
    font-weight: 600;
    padding-right: 10px;
    text-decoration: none;
    color: black;
}
nav a:hover{
    color: deeppink;
}
main {
    grid-area: main;
    background-color: rgb(177, 185, 192);
    grid-template-rows: 100% 100% 100%;

}
#jumbotron {
    background-image: url(../img/fondo-jumbotron.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    padding: 10%;
    left: 20%;
    
}


#jumbotron h1{
    font-family: 'Kaushan Script', cursive;
    font-size: 60px;
    color: white;
    text-align: center;
   
}
#jumbotron p{
    font-size: 30px;
    color: white;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
}


#blog {
    background-color:green;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    gap: 20px;
}
#blog article {
    width: 200px;
    height: 200px;
    background-color: gold;

}
footer {
    grid-area: footer;
    background-color: dimgrey;
}